
.btn-container {
    display:flex;
    justify-content: center;
    margin: 5px;

    button{
        padding: 7px;
        width: 10rem;
        text-align: center;
        border-radius: 3px;
        border: none;
        background: none;
        color: #000;
        border: 1px solid;
        &:hover {
            background: rgb(170, 170, 170);
            cursor: pointer;
        }
    }
}

.btn_add {
    padding: 7px;
    width: 10rem;
    text-align: center;
    border-radius: 3px;
    border: none;
    color: #fff;
    background: rgba(36, 23, 218, 0.945);
    &:hover {
        background: rgba(36, 23, 218, 0.842);
    }
}