.filter_things {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $m-size 0;
    @media (max-width: $desktop-breakpoint) {
        display: flex;
        justify-content:center;
        flex-direction:column;
    }
}

.input {
    padding: 10px;
    border: none;
    background-color: #1b19192c;
    border-radius: 3px;
    outline: none;
}

.select {
    margin-left: 10px;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 3px;
}
.filter_search_box {
    position: relative;
}
.search_icon {
    width: 25px;
    position: absolute;
    left: 9.5rem;
    margin-top:3px;
}
 