.list_item_title {
    background: #e4e1e13d;
    padding:$m-size;
    border-radius: 3px;
    word-break: break-all;
    transition: all 100ms ease-in-out;
    margin-bottom: 10px;
    margin-top: 10px;
    text-indent: 40px;
    &:hover {
        background: rgba(36, 23, 218, 0.945);
        cursor: pointer;
        color: #fff;
    }
}

// .Posts_title {
//     background: #01010113;
//     padding: $s-size;
//     width: 100%;
//     margin-bottom:0;
// }

.posts_title_justifying {
    display: flex;
    justify-content:center;
    align-items:center;

}

.list_item {
    text-decoration: none;
    color: #000;
}
